# Log Generator
LOG_GENERATOR_PORT=5001
CICIDS2017_PATH=./data/cicids2017.csv
ANOMALY_DETECTOR_URL=http://anomaly-detector:5002
INTERNAL_TOKEN=changeme_use_strong_random_value
LOG_RATE_LIMIT=10

# Anomaly Detector
ANOMALY_DETECTOR_PORT=5002
DDOS_THRESHOLD=500
BLOCKED_IPS=192.168.1.100,10.0.0.5
INFLUXDB_URL=http://influxdb:8086
INFLUXDB_TOKEN=changeme_influxdb_token
INFLUXDB_ORG=vpc_stream_org
INFLUXDB_BUCKET=vpc_stream

# Dashboard
DASHBOARD_PORT=5003
ANOMALY_DETECTOR_WS_URL=http://anomaly-detector:5002
LOG_GENERATOR_URL=http://log-generator:5001

# InfluxDB
INFLUXDB_ADMIN_USER=vpcadmin
INFLUXDB_ADMIN_PASSWORD=changeme_strong_password
INFLUXDB_ADMIN_TOKEN=changeme_influxdb_token
INFLUXDB_ORG=vpc_stream_org
INFLUXDB_BUCKET=vpc_stream

# Grafana
GRAFANA_ADMIN_USER=vpcadmin
GRAFANA_ADMIN_PASSWORD=changeme_strong_password

# Jenkins
JENKINS_ADMIN_USER=vpcadmin
JENKINS_ADMIN_PASSWORD=changeme_strong_password
